@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  padding: 0;
  margin: 0 16px 7px;
}

.container-fluid {
  height: 100vh;
  position: relative;
  padding: 0;
}

#bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../resource/bg_clear.jpg);
  background-size: cover;
}
#bg.clear {
  background-image: url(../resource/bg_clear.jpg);
}
#bg.clouds {
  background-image: url(../resource/bg_cloud.jpg);
}
#bg.rain {
  background-image: url(../resource/bg_rain.jpg);
}
#bg.snow {
  background-image: url(../resource/bg_snow.jpg);
}
#bg.thunderstorm {
  background-image: url(../resource/bg_thunderstorm.jpg);
}
#bg.mist, #bg.haze, #bg.fog {
  background-image: url(../resource/bg_foggy.jpg);
}

.now {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #b4b4b4;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px black;
}

.view_bx {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 400px;
  min-height: 270px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  transform: translateX(-50%);
  color: #aaa;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.5);
}
.view_bx .search_wrap {
  padding: 20px 20px 0;
  position: relative;
}
.view_bx .search_wrap .input_box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  width: 24px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.view_bx .search_wrap .input_box .search_open {
  cursor: pointer;
}
.view_bx .search_wrap .input_box input[type=text] {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  transition: width 0.5s ease;
  color: #aaa;
}
.view_bx .search_wrap .input_box button {
  outline: none;
  border: none;
  background: transparent;
  color: lightgray;
}
.view_bx .search_wrap .input_box.on {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.view_bx .search_wrap .input_box.on .search_open {
  display: none;
}
.view_bx .search_wrap .input_box.on input[type=text] {
  width: 320px;
  padding: 0 20px;
}
.view_bx .search_wrap .search_info {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  top: -54px;
  left: 22px;
  display: none;
}
.view_bx .search_wrap .input_box:hover + .search_info {
  display: block;
}
.view_bx .search_wrap .error_toast {
  padding: 10px 0;
}
.view_bx .search_wrap .error_toast .toast {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.view_bx .weather_board {
  padding: 20px 0;
}
.view_bx .weather_board .weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0 20px;
}
.view_bx .weather_board .weather .city {
  font-size: 20px;
  color: lightgray;
  width: 100%;
  letter-spacing: 1px;
}
.view_bx .weather_board .weather .city span {
  vertical-align: top;
  color: #4d93fc;
}
.view_bx .weather_board .weather .temp {
  font-size: 32px;
  color: #eee;
}
.view_bx .weather_board .weather .temp_minmax {
  text-shadow: 1px 1px 5px black;
}
.view_bx .weather_board .weather .temp_minmax .min {
  color: #4d93fc;
}
.view_bx .weather_board .weather .temp_minmax .max {
  color: #e2655c;
}
.view_bx .weather_board .weather .feels_like {
  width: 100%;
}
.view_bx .now {
  position: relative;
  top: 0;
  left: 0;
  background: none;
  box-shadow: none;
  text-align: right;
  font-size: 15px;
}

.weather_icon::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  color: #f2f2f2;
  background-size: 100%;
}
.weather_icon.clouds::before {
  background-image: url(../resource/cloud.svg);
}
.weather_icon.clear::before {
  background-image: url(../resource/clear.svg);
}
.weather_icon.rain::before {
  background-image: url(../resource/rainy.svg);
}
.weather_icon.thunderstorm::before {
  background-image: url(../resource/thunderstorm.svg);
}
.weather_icon.snow::before {
  background-image: url(../resource/snow.svg);
}
.weather_icon.mist::before, .weather_icon.haze::before, .weather_icon.fog::before {
  background-image: url(../resource/foggy.svg);
}

.forecast_board {
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.forecast_board p {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #79b379;
  letter-spacing: 1px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.forecast_board p span {
  transition: all 0.3s ease;
}
.forecast_board .forecast_list {
  padding: 0 30px;
}
.forecast_board .forecast_list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.forecast_board .forecast_list ul li {
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  margin-bottom: 2px;
}
.forecast_board .forecast_list ul li .material-symbols-outlined {
  vertical-align: middle;
  font-size: 18px;
}
.forecast_board .forecast_list ul li:nth-child(1) {
  font-size: 15px;
  color: #f2f2f2;
}
.forecast_board .forecast_list ul li.weather_icon::before {
  width: 25px;
  height: 25px;
}
.forecast_board .forecast_list ul li:nth-child(3) {
  font-size: 15px;
  color: #f2f2f2;
}
.forecast_board .forecast_list ul li:nth-child(4), .forecast_board .forecast_list ul li:nth-child(5) {
  min-width: 68px;
}
.forecast_board .pagination {
  margin-top: 10px;
  --bs-pagination-bg: transparent;
  --bs-pagination-color: #94c094;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: transparent;
  --bs-pagination-border-radius: 18px;
  --bs-pagination-hover-color: #94c094;
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-hover-border-color: transparent;
  --bs-pagination-focus-color: #fff;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-active-border-color: #94c094;
  --bs-pagination-disabled-color: #777;
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-disabled-border-color: transparent;
}
.forecast_board .pagination .page-item .page-link.active {
  min-width: 38px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.forecast_board.on {
  height: 250px;
}
.forecast_board.on p span {
  transform: rotate(180deg);
}

.search_list_board {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  display: none;
  border-radius: 6px;
  padding: 20px 15px 15px;
}
.search_list_board .tag_reset {
  position: absolute;
  top: 2px;
  right: 3px;
  cursor: pointer;
}
.search_list_board ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search_list_board ul li {
  border: 1px solid #297ae4;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_list_board ul li .tag {
  cursor: pointer;
}
.search_list_board ul li .tag_del {
  margin-left: 8px;
  cursor: pointer;
  font-size: 18px;
  color: #297ae4;
}
.search_list_board.show {
  display: block;
}

@media (max-width: 400px) {
  .view_bx {
    top: 50px;
    width: calc(100vw - 10px);
  }
  .forecast_board .forecast_list {
    padding: 0 10px;
  }
}